*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-light: #173687;
    --clr-dark: #0a0e31;
    --clr-accent: rgba(255, 255, 255, 0.08);
}
body{
    width: 100%;
	height: 100vh;
	background-color: var(--clr-dark);
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: row;
}

.container{
    width: 700px;
    height: 600px;
    margin: 40px 0;
    padding: 10px 25px;
    background-color: var(--clr-dark);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .click-to-copy{
    font-size: 15px;
    margin-top: 5px;
    color: #fff;
    display: flex;
    align-items: left;
}

.title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.result{
    width: 100%;
    height: 50px;
    background-color: var(--clr-accent);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
    color: #fff;
}


.length-continer{
    width: 100%;
    height: 70px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: var(--clr-accent);
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.length-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.slider-range{
    display: flex;
    justify-content: space-between;
}

#slider{
    width: 90%;
    background-color: var(--clr-accent);
    height: 2px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    outline: none;
    transform: translate(0, 10px);
    transition: ease;
}

.options{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.option{
    width: 100%;
    height: 40px;
    background-color: var(--clr-accent);
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.option:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

input + label{
    cursor: pointer;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label::before{
    content: "\2713";
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

input[type="checkbox"]:disabled + label::before{
    cursor: not-allowed;
}

.container .generate{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.btn{
    background-color: var(--clr-light);
    width: 100%;
    height: 40px;
    margin-top: 40px;
    padding: 10px 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}


button.open {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
.message {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: var(--clr-accent);
  transition: all .8s ease-in-out;
}
.message.show {
  visibility: visible;
  opacity: 1;
}
.close {
  visibility: hidden;
}

@media (max-width: 1000px){
    body{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }
    .container{
        width: 700px;
        padding: 0;
        margin: 0;
    }
    .title{
        font-size: 70px;
        margin-bottom: 80px;
    }
    .result{
        height: 100px;
        font-size: 35px;
        border-radius: 20px;
    }
    .container .click-to-copy{
        font-size: 25px;
    }
    .length-continer{
        height: 120px;
        border-radius: 20px;
    }
    .length-title{
        font-size: 35px;
    }
    .slider-range{
        font-size: 30px;
    }
    #slider{
        width: 90%;
        height: 30px;
        transform: translate(0, 6px);
    }
    .options{
        align-items: center;
    }
    .option{
        width: 90%;
        height: 70px;
        font-size: 40px;
        border-radius: 20px;
    }
    .btn{
        height: 50px;
        font-size: 30px;
        border-radius: 20px;
    }
    .button.open{
        font-size: 30px;
    }
    .message{
        font-size: 30px;
        border-radius: 20px;
        top: 60%;
        left: 50%;
    }

}